{% extends 'simpleapp/base.html' %}
 
{% block title %} New list {% endblock title %}
 
{% block content %}
<table>
    <thead>
        <th>
            Name
        </th>
        <th>
            Category
        </th>
        <th>
            Description
        </th>
        <th>
            Time
        </th>
    </thead>
    <tr>
        <td>
            {{ new.name|title }}
        </td>
        <td>
            {{ new.category.name|title }}
        </td>
        <td>
            {{ new.description }}
        </td>
        <td>
            {{ new.auto_time }}
        </td>
    </tr>
</table>
{% endblock content %}